.custom-search {
    display: flex;
    width: 300px;

    @include vp-767 {
        display: none;
    }

    &__field {
        font-family: inherit;
        border: none;
        border-bottom: 2px solid $color-matterhorn;
        background-color: transparent;
        padding: 10px 7px;
        width: 100%;
        font-size: 16px;
        line-height: 16px;
        font-weight: 400;
        color: $color-white;
        border-radius: 10px;

        &:focus-visible {
            outline: none;
            background-color: $color-white-10;
        }

        &::placeholder {
            font-size: 16px;
            line-height: 16px;
            font-weight: 400;
            color: $color-white-50;
        }
        
        &:hover::placeholder {
            color: $color-white-80;
        }
    }
}