.header {
    padding: 15px 0;
    width: 100%;
    background: linear-gradient(to bottom, #A5A5A5 0%, #868686 90%);
    border-bottom: 2px solid $color-matterhorn;

    &__wrapper {
        display: grid;
        grid-template-columns: auto 1fr auto;
        align-items: center;
        gap: 30px;

        @include vp-1439 {
            gap: 25px;
        }

        @include vp-767 {
            gap: 20px;
        }
    }
    
    &__logo {
        font-size: 28px;
        font-weight: 600;
        line-height: 24px;
        min-width: 105px;
        height: 24px;

        @include vp-1439 {
            font-size: 26px;
        }

        @include vp-767 {
            font-size: 24px;
        }
    }
}