.page-content {
    padding: 50px 0;

    &__title {
        font-size: 44px;
        line-height: 40px;
        font-weight: 600;
        color: $color-white;
        text-align: center;
        margin: 0 0 30px;

        @include vp-1439 {
            font-size: 36px;
            line-height: 32px;
            margin: 0 0 25px;
        }

        @include vp-767 {
            font-size: 32px;
            line-height: 28px;
            margin: 0 0 20px;
        }
    }

    &__text {
        font-size: 32px;
        color: $color-white;
        display: block;
        margin: 0 0 50px;
        padding: 0 15px;
        text-align: justify;

        @include vp-1439 {
            font-size: 26px;
            margin: 0 0 40px;
        }

        @include vp-767 {
            font-size: 20px;
            margin: 0 0 30px;
            padding: 0;
            text-align: left;
        }
    }
}