// Colors

$color-white: #ffffff;
$color-matterhorn: #505050;
$color-dodger-blue: #008cff;
$color-bossanova: #524656;

$color-black-0: rgb(0, 0, 0, 0);
$color-white-10: rgba(255, 255, 255, 0.1);
$color-white-50: rgba(255, 255, 255, 0.5);
$color-white-80: rgba(255, 255, 255, 0.8);
$color-dodger-blue-10: rgba(0, 140, 255, 0.1);

// Typography

$ff-exo-2: "Exo-2", "Arial", sans-serif;

// Viewports

$vp-tablet: 1439px;
$vp-mobile: 767px;
$vp-qhd: 2560px;