.category-card {
    display: grid;
    grid-template-rows: auto 1fr;
    justify-content: center;
    width: 350px;
    height: 350px;
    background: linear-gradient(#777777 0%, #555555 100%);
    border-radius: 100px;
    border: 3px solid #008cff;
    box-shadow: 3px 1px 7px rgba(0, 140, 255, 0.1);
    text-decoration: none;
    cursor: pointer;
    transition: all .4s ease-in-out;
    position: relative;

    @include vp-1439 {
        width: 300px;
        height: 300px;
        border-radius: 80px;
    }
    
    @include vp-2560 {
        width: 400px;
        height: 400px;
    }

    &::after {
        content: '';
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        opacity: 0;
        border-radius: 96px;
        box-shadow: 7px 5px 15px rgba(0, 140, 255, 1);
        transition: opacity .4s ease-in-out;

        @include vp-1439 {
            border-radius: 76px;
        }
    }
    
    &:hover {
        transform: scale(1.05);
    }
    
    &:hover::after {
        opacity: 1;
    }
    
    &__image {
        width: 100%;
        height: fit-content;
        border-radius: 96px 96px 0 0;
        border-bottom: 3px solid #008cff;

        @include vp-1439 {
            border-radius: 76px 76px 0 0;
        }
    }
    
    &__inner {
        margin: auto 0;
        padding: 0 10px;
    }
    
    &__title {
        font-size: 28px;
        font-weight: 500;
        text-align: center;
        color: #FFFFFF;
        margin: 0;

        @include vp-1439 {
            font-size: 24px;
        }
    }
}