.welcome-page {
    padding: 50px 0;

    &__title {
        font-size: 44px;
        line-height: 40px;
        font-weight: 600;
        color: #FFFFFF;
        text-align: center;
        margin: 0 0 30px;
    }

    &__text {
        font-size: 32px;
        color: #FFFFFF;
        text-align: center;
        display: block;
        margin: 0 0 50px;
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(3, auto);
        align-items: center;
        justify-content: center;
        gap: 1.95vw;
    }
}