.header {
    padding: 15px 0;
    width: 100%;
    background: linear-gradient(to bottom, #A5A5A5 0%, #868686 90%);
    border-bottom: 2px solid #505050;
}

.header__wrapper {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 30px;
}

.header__logo {
    font-size: 28px;
    font-weight: 600;
    line-height: 24px;
}

.header__links {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header__link {
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
}